.dashboard-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: left;
    color: #333;
  }
  
  .add-user-btn {
    background-color: #1ee327;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size:15px;
  }
  
  .add-user-btn:hover {
    background-color: #01ce0b;
    transition: 0.8s;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0,0, 0.2);
    border-radius: 10px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
  }
  
  .badge {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .edit-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .edit-btn {
    background-color: #ffcc00;
  }
  
  .delete-btn {
    background-color: #ff4c4c;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #e6b800;
  }
  
  .delete-btn:hover {
    background-color: #cc0000;
  }
  .dept{
      background-color: rgb(229, 179, 0);
      font-size: 13px;
      border-radius: 5px;
      padding: 5px;
  }
  .edit{
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .fa-pen-to-square{
    font-size: 20px;
    
  }
  .fa-pen-to-square:hover{
    color: blue;
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
   
  }
  .fa-trash{
    font-size: 20px;
  }
  .fa-trash:hover{
    color:red;
    transition: 0.5s;
    transform: scale(1.2);
    cursor: pointer;
  }
  button{
    border:none;
    outline: none;
  }